/* footer.component.css */

.footer {
  margin-top: 100px;
  margin-bottom: 50px;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.footer > h4 {
 font-size: 20px;
 margin-top: 50px;
 font-family: 'Times New Roman', Times, serif;
}

.links{
  margin-top: 15px;
  margin-bottom: 40px;
}


.links > a {
  margin-right: 20px;
  font-size: 20px;
}

.links > a:hover {
  color: #aaa
}

.footer hr {

  margin-right: -20px;
  margin-left: -100px;
}
