@media only screen and (max-width: 1024px) {
  .articles{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

  }

  .articles_others{
    margin-top: 50px;
  }
}

